@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
    font-weight: 700;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
:root{
/* fonts */
--main-font: "Roboto";
--secondary-font: "Raleway";

/* text colors */
--accent-color: #2196F3;
--main-txt-cl: #212121;
--secondary-txt-cl: #757575; 
--main-light-theme: #F5F4FA;
--main-dark-theme: #2F303A;
 

/* bg-colors */

/* others */

}

body {
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    line-height: 24px;
    background: #FFFFFF; 
    
}

header {
    border-bottom: 1px solid #ECECEC;
    /* margin-bottom: 94px; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.link {
    text-decoration: none;
    color: currentColor;

}
.logo-container {
   margin-right: 83px;
}

.navigation-container {
    margin-right: 330px;
}
/* common styles */

.no-scroll {
    overflow: hidden;
}
.logo {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    padding: 24px 0;
    display: block;
    
}
.logo-prefix {
    color: var(--accent-color);
}

.header-list-item {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-right: 50px;

}
.header-list-item:last-child {
    margin-right: 0;

}
.header-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
    padding: 31px 0;
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.header-group {
    display: inline-block;
}

.header-list {
    list-style: none;
    text-align: center;
    display: inline-block;

}

.header-list-contact:first-child {
    margin-right: 50px;
    
}
.header-list-contact {
    display: inline-block;
}

.top-bar-link:hover,
.top-bar-link:focus {
    color: var(--accent-color)
}

.header-mail, .header-contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color:var(--secondary-txt-cl);
    text-decoration: none;
    padding: 31px 0; 
    
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon-top {
    fill: currentColor;
    margin-right: 10px;
}

.header-mail:hover, 
.header-contact:hover {
    color:var(--accent-color);
}

.list {
    list-style: none;
}

.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-image: url(../images/hero/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(47, 48, 58, 0.4));
    background-size: cover;
    padding: 200px 0;
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero-button {
    padding: 10px 32px;
    font-family: var(--main-font), sans-serif;
    background-color:var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 32px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 4px;

    transition-property: color, background-color;  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}
.current {
    color:var(--accent-color);
}

.current-link {
    position: relative;
    color:var(--accent-color);
    display: flex;
    align-items: center;
}
.current-link::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    display: inline-block;
    margin-right: 10px;
    background-color:var(--accent-color);
    border-radius: 2px;
}

.button.current {
    background-color:var(--accent-color);
    color: #FFFFFF;
}
.about {
    padding-bottom: 94px;
}
.about-us-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-txt-cl);
}
.about-us-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color:var(--secondary-txt-cl);
}
.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-txt-cl);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--main-txt-cl);
    margin-bottom: 10px;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--secondary-txt-cl);
    margin-bottom: 16px;
}

/* common styles end */

.footer {
    background-color: #2F303A;
    font-style: normal;
    padding: 60px 0;
}

.adress {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.mail-footer {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.main-menu-list {
    text-align: center;
    margin: 0 0 50px 0;
}
.main-menu-item {
    display: inline-block;
    margin-right: 8px;
}
.main-menu-item:last-child {
    margin-right: 0;
}
.main-button {
    font-family: var(--main-font), sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color:var(--main-txt-cl);
    border: none;
    padding: 6px 22px;
    border-radius: 4px;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
    background-color:var(--accent-color);
    color: #FFFFFF; 
}

.portfolio-menu {
    list-style: none;
    margin-right: -30px;
    margin-bottom: -30px;
}

.portfolio-list-item {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    flex-wrap: wrap;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    width: 366px;
    height: 294px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    background-color: #2196F3;
    border-radius: 4px;
    
    position: absolute;
    top: 0;
    left: 0;

}
.portfolio-list-item:hover .portfolio-overlay {
    transform: translateY(0);
    
}
.portfolio-desc {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}
.portfolio-list-name {
    padding: 20px 24px;
}
.portfolio-list .portfolio-list-item:last-child {
    margin-right: 0;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .work-list-title, .work-list-item {
    padding-left: 20px;
} */

.work-list-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color:var(--main-txt-cl)
}
.work-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color:var(--secondary-txt-cl);
}

.container-footer {
    display: flex;
    align-items: center;


}
.footer-contacts {
    margin-right: 70px;
  
}

.footer-list {
   list-style-type: none;
}

.footer-logo-postfix {
    color: #FFFFFF;
}
.footer-logo {
    padding: 0;
    margin-bottom: 20px;
   
}

.section {
    padding: 94px 0;
}
 
.content-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content-list-item .content-list-title {
    display: inline-block;

}

.content-list-title:not(last child) {
    padding-right: 30px;

}
.content-list-item {
    display: flex;
    flex-basis: calc((100% - 30px * 4) / 4);
}

.content-list-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: #F5F4FA;
    height: 120px;
    border-radius: 4px;
}
.about-us-item-title {
    margin-bottom: 10px;
}

.about-work-image {
    list-style-type: none;
    display: block;
}
.about-work-list {
    display: flex;
    justify-content: space-between;
}

.img-wrapper {
    position: relative;
}

.about-img-text {
    padding: 27px 82px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
}
.team {
    background-color: #F5F4FA;
    padding: 94px 0;
}
.team-members {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-container {
    background-color: #F5F4FA;
}
.team-about {
    display: flex;
    justify-content: space-between;

}
.team-title {
    margin-bottom: 50px;
}
.team-members-name {
    padding-top: 30px;
    padding-bottom: 30px;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.social-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    background-color: #fffefe;
    border-radius: 50%;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #188CE8;
}
.social-media-link:hover .social-media-icon,
.social-media-link:focus .social-media-icon {
    fill: #FFFFFF;
}


/* icons */
.social-media {
    display: flex;
    justify-content: center;
}

.social-media-item:not(:last-child) {
    margin-right: 10px;
}

.social-media-icon {
    fill: currentColor;
}

.customers {
    padding: 94px 0;
}

.customer-list-item {
    display: flex;
    justify-content: center;

}
.customer-list-icon {
    color: #AFB1B8; 
    box-sizing: border-box;
     
}
.customer-list-logo {
   width: calc(100% / 6 - 30px);
   height: 92px;
}

.customer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    height: 92px;
    fill: #AFB1B8;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.customer-icon:hover,
.customer-icon:focus {
    fill: #2196F3;
    border: 1px solid #2196F3;

}

.customer-list-logo:not(:last-child) {
    margin-right: 30px;
}
/* .social-media-icon-adress {
    fill: currentColor;
} */
.social-media-title {
    padding: 0;
    margin-bottom: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.social-media-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #fffefe;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-footer:hover,
.social-media-link-footer:focus {
    background-color: #188CE8;
}

.social-media-link-adress:not(:last-child) {
    margin-right: 10px;
}
.footer-contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding: 31px 0;
}

 /* Modal window */
 .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    z-index: 1000;

    transition: opacity, visibility;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

 .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
 }

 .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: #FFFFFF; 

 }
 .modal-close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: none;

    cursor: pointer;
 }

