@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
    font-weight: 700;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
/* fonts */
--main-font: "Roboto";
--secondary-font: "Raleway";

/* text colors */
--accent-color: #2196F3;
--main-txt-cl: #212121;
--secondary-txt-cl: #757575; 
--main-light-theme: #F5F4FA;
--main-dark-theme: #2F303A;
 

/* bg-colors */

/* others */

}

body {
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    line-height: 24px;
    background: #FFFFFF; 
    
}

header {
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 94px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;

}

.header-container {
    padding: 24px 0px;
}
.logo-container {
   margin-right: 83px;
}

.navigation-container {
    margin-right: 331px;
}
/* common styles */
.logo {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #212121;
}
.logo-prefix {
    color: var(--accent-color);
}

.header-list-item {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-right: 50px;

}
.header-list-item:last-child {
    margin-right: 0;

}
.header-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #212121;

}

.header-group {
    display: inline-block;
}

.header-list {
    list-style: none;
    text-align: center;
    display: inline-block;
}

.header-list-contact:first-child {
    margin-right: 50px;
}
.header-list-contact {
    display: inline-block;
}

.top-bar-link:hover,
.top-bar-link:focus {
    color: var(--accent-color)
}

.header-mail, .header-contact {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    text-decoration: none;
   
}

.header-mail:hover, 
.header-contact:hover {
    color: #2196F3;
}

.list {
    list-style: none;
}

.hero {
    background-color: #2F303A;
    padding: 200px 0;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 696px;
    margin: 0 auto;
}
.hero-button {
    font-family: var(--main-font), sans-serif;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 32px;
    cursor: pointer;
}

.about-us-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.about-us-item-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}

/* common styles end */

.footer {
    background-color: #2F303A;
    font-style: normal;
    padding: 60px 0;
}

.adress {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.mail-footer {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.main-menu-list {
    text-align: center;
    margin: 0 0 50px 0;
}
.main-menu-item {
    display: inline-block;
    margin-right: 8px;
}
.main-menu-item:last-child {
    margin-right: 0;
}
.main-button {
    font-family: var(--main-font), sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: #212121;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
}
.main-button:hover,
.main-button:focus {
    background-color: #2196F3;
    color: #FFFFFF; 
}

.portfolio-menu {
    list-style: none;
    padding-bottom: 64px;
}
.portfolio-list .portfolio-list-item {
    display: inline-block;
    margin-right: 26px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;

}
.portfolio-list .portfolio-list-item:last-child {
    margin-right: 0;
}
.work-list-title, .work-list-item {
    padding-left: 20px;
}

.work-list-title {
    margin-bottom: 4px;
}
.portfolio-list-image {
    margin-bottom: 20px;
}
.footer-list {
   list-style-type: none;
}

.footer-logo-postfix {
    color: #FFFFFF;
}
.footer-logo {
    margin-bottom: 20px;
    display: block;
}
 